extends layout
block content
    h3 Cron Jobs
    table.table.table-striped
        thead
            tr
                th Jobname
                th Enabled
                th Type
                th Actions
        tbody
            each cron in crons
                tr
                    td #{cron.name}
                    td
                        if !!cron.disabled
                            span.label.label-danger Disabled
                        else
                            span.label.label-success Enabled
                    td
                        case cron.type
                            when 'command'
                                span.label.label-default Command
                            when 'backup'
                                span.label.label-default Backup
                            default
                                span.label.label-warning Unknown
                    td
                        a.btn.btn-warning(href=`/cron/${cron.disabled ? 'enable' : 'disable'}/${cron._id}`) #{cron.disabled ? 'Enable' : 'Disable'}
                        a.btn.btn-danger(href =`/cron/delete/${cron._id}`) Delete
                        a.btn.btn-default(href=`/cron/edit/${cron._id}`) Edit
    a.btn.btn-default(href='/cron/new') New Cron